body {
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

.home {
  background-image: url(images/bg-Intro.png);
  height: 750px;
  color: white;
  position: absolute;
  top: 0;
}

.home_2 {
  height: 480px;
  color: white;
}

.logo {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  margin-right: 40px;
  font-family: 'Fredoka One', sans-serif;
  font-size: 20px;
}

/* CONTENU */

h2 {
  text-align: center;
  font-family: 'Fredoka One', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #801010;
}

/* FOOTER */

footer {
  height: 130px;
  background-color: #801010;
  color: white;
  padding: 20px;
}

.pictos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.picto {
  width: 35px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer p {
  text-align: center;
}

.end {
  font-size: 10px;
}