

body {
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

.home {
  background-image: url(images/bg-Intro.png);
  background-size : cover;
  background-position: center;
  height: 480px;
  width: 100vw;
  color: white;
  top: 0;
  position: absolute; 
}

@media()

.logo {
  width: 50%;
}

.logo2 {
  width: 40%;
  padding: 5px 10px;
  background-color: black;
}

/* nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  margin-right: 40px;
  font-family: 'Fredoka One', sans-serif;
  font-size: 20px;
} */


/* CONTENU */

h2,
h3 {
  text-align: center;
  font-family: 'Fredoka One', sans-serif;
}

h2 {
  margin: 50px;
  font-size: 20px;
  opacity: 0.8;
}

h3 {
  background-color:black;
  font-size: 15px;
  color: white;
  height: 30px;
  padding-top: 15px;
  
}
.produits {
  margin-top: 480px;
}
figcaption{
  background-color: black;
  font-family: 'Fredoka One', sans-serif;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  margin-top: -5px; 
  color: white;
}

.bouton {
  background-color: black;
  height: 60px;
}

button {
  height: 50px;
  background-color: #801010;
  width: 30%;
  padding: 20px 8px;
  /* tu peux écrire:   padding: 20px 8px; */
  color: white;
  font-size: 8px;
  text-align: center;
  font-family: 'Fredoka One';
  border: #262626;
  margin-left: 35%; 
  transition: font-size 1s;
}

button:hover {
  cursor: cell;
  font-size: 15px;
  
}

a {
  text-decoration: none;
  color: white;
}

/*-- ACTUALITÉS */

.pintro {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size:13px;
  height: 80px;
  padding-top:30px;
  color : black;
}
.imgactu {
  width :100%;
}

h4 {
  background-color: black;
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
  margin-top: -3px;
  padding-top: 30px;
}

.pactu {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 80px;
  padding: 30px 25px 0px 25px;
  font-size:13px;
  text-align:justify;
}
.marge {
  background-color: #801010;
  height :15px;
}
/* FOOTER */

footer {
  height: 100px;
  background-color: #801010;
  color: white;
  padding: 20px;
}

.pfoot {
  font-family: 'Open Sans', sans-serif;
}

.pictos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top : 15px;
}

.picto {
  width: 35px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer p {
  text-align: center;
}

.end {
  font-family: 'Fredoka One', sans-serif;
  font-size: 10px;
}


/* PRODUITS */
.ptitre {
  font-family : 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
 p {
  font-family : 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: justify;
  padding: 10px 30px 0px 30px;
  line-height: 16px;
 }

 li {
font-family : 'Open Sans', sans-serif;
font-size: 13px;
text-align: justify;
line-height: 17px;
padding: 5px 30px 0px 30px;
 }

 .imgprod{
  width : 100%;
}
@media(min-width: 900px) {
  
}