body {
  margin: 0;
  box-sizing: border-box;
}
/* HEADER */


.home {
  background-image: url(images/bg-Intro.png);
  background-size : 850px;
  background-position: center;

  height: 480px;
  color: white;
  position: absolute;
  top: 0;
}

.logo {
  width: 50%;
}



/* CONTENU */

h2,
h3 {
  text-align: center;
  font-family: 'Fredoka One', sans-serif;
}

h2 {
  margin: 50px;
  font-size: 20px;
  opacity: 0.8;
}
.produits {
  margin-top: 490px;
}
img {
  width : 30%;
}


@media(min-width: 900px) {
  
}