body {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'VAG Rounded';
  src: url("../font/vagron.ttf");
}

@font-face {
  font-family: 'Aaargh';
  src: url("../font/aaargh.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("../font/Lato/Lato-Light.ttf");  
}

@font-face {
  font-family: 'Lato Black';
  src: url("../font/Lato/Lato-Mediumttf");
}

/* HEADER */

.home {
  background: url(../images/bg-intro.png);
  background-size : cover;
  background-position: center;
  height: 500px;
  width: 100vw;
  color: white;
  top: 0;
  position: absolute; 
}

.logo {
  width: 50%;
}

.logo2 {
  width: 40%;
  padding: 5px 10px;
  background-color: black;
}

/* nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  margin-right: 40px;
  font-family: 'Fredoka One', sans-serif;
  font-size: 20px;
} */


/* CONTENU */

.h2_1 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
}
.h2_2 {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 20px;
  text-align: center;
}
h3 {
  text-align: center;
  font-family: 'VAG Rounded', sans-serif;
}

h2 {
  margin: 50px;
  font-size: 20px;
}

h3 {
  background-color: black;
  font-size: 20px;
  color: white;
  height: 30px;
  padding: 28px 0px 10px 0px;
}

.produits {
  margin-top: 480px;
}

figcaption{
  background-color: white;
  font-family: 'VAG Rounded', sans-serif;
  height: 40px;
  padding-top: 28px;
  text-align: center;
  margin-top: -5px; 
  color:black;
  font-size: 16px;
}

.bouton {
  background-color: white;
  height: 60px;
  padding : 15px 0px 15px 0px;
}

button {
  height: 50px;
  background-color: #FE0005;
  width: 45%;
  padding: 16px 8px 25px;
  border-radius: 60px;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: 'VAG Rounded';
  border: black;
  margin-left: 30%; 
  transition: font-size 0.3s;
}

button:hover {
  cursor: cell;
  font-size: 18px;
  background-color: #4e0a0a;
}

a {
  text-decoration: none;
  color: white;
}

/* PRODUITS */

h4{
  text-align: center;
  font-family: 'Lato Black', sans-serif;
  font-size: 14px;
  padding: 20px 0px 20px 0px;
}

.imgintro {
  width: 100%;
}

 p,
 li {
  font-family : 'Lato', sans-serif;
  font-size: 14px;
  text-align: justify;
  padding: 10px 30px 0px 30px;
  line-height: 16px;
 }
.ptitre {
  font-family : 'VAG Rounded', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
  text-align: left;
}
 li {
line-height: 17px;
padding: 5px 30px 0px 30px;
 }

img {
  width : 80%;
  display: block;
  margin: 20px auto 20px auto;
}

.phomepage {
  padding: 10px 40px 15px 40px;
}

/*-- ACTUALITÉS */

.actu_intro {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 20px;
}

h5 {
  font-family: 'VAG Rounded', sans-serif;
  text-align: center;
  margin-top: -3px;
  padding-top: 30px;
}

.pactu {
  font-family: 'Aaargh', sans-serif;
  height: 80px;
  padding: 30px 25px 0px 25px;
  font-size:13px;
  text-align:justify;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #801010;
  color: white;
  padding: 20px;
}

.pfoot {
  font-family: 'Aaargh', sans-serif;
}

.pictos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top : 15px;
}

.picto {
  width: 35px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer p {
  text-align: center;
}

.end {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 10px;
}

@media(min-width: 900px) {
  .home {
    height: 750px;
  }
  .produits {
    margin-top: 750px;
  }
}