body {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'VAG Rounded';
  src: url("../font/vagron.ttf");
}

@font-face {
  font-family: 'Aaargh';
  src: url("../font/aaargh.ttf");
}

/* HEADER */

.home {
  background-image: url(../images/bg-intro.png);
  background-size : cover;
  background-position: center;
  height: 500px;
  width: 100vw;
  color: white;
  top: 0;
  position: absolute; 
}

.logo {
  width: 50%;
}

.logo2 {
  width: 40%;
  padding: 5px 10px;
  background-color: black;
}

/* nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  margin-right: 40px;
  font-family: 'Fredoka One', sans-serif;
  font-size: 20px;
} */


/* CONTENU */

h2,
h3 {
  text-align: center;
  font-family: 'VAG Rounded', sans-serif;
}

h2 {
  margin: 50px;
  font-size: 20px;
  opacity: 0.8;
}

h3 {
  background-color: black;
  font-size: 15px;
  color: white;
  height: 30px;
  padding: 15px 0px 20px 0px;
}

.produits {
  margin-top: 480px;
  background-color: black;
}

figcaption{
  background-color: black;
  font-family: 'VAG Rounded', sans-serif;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  margin-top: -5px; 
  color: white;
  font-size: 13px;
}

.bouton {
  background-color: black;
  height: 60px;
}

button {
  height: 50px;
  background-color: #801010;
  width: 40%;
  padding: 20px 8px 28px;
  border-radius: 60px;
  /* tu peux écrire:   padding: 20px 8px; */
  color: white;
  font-size: 10px;
  text-align: center;
  font-family: 'VAG Rounded';
  border: black;
  margin-left: 30%; 
  transition: font-size 0.3s;
}

button:hover {
  cursor: cell;
  font-size: 15px;
  background-color: #4e0a0a;
}

a {
  text-decoration: none;
  color: white;
}

/* PRODUITS */

.ptitre {
  font-family : 'Aaargh', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
 p {
  font-family : 'Aaargh', sans-serif;
  font-size: 13px;
  text-align: justify;
  padding: 10px 30px 0px 30px;
  line-height: 16px;
 }

 li {
font-family : 'Aaargh', sans-serif;
font-size: 13px;
text-align: justify;
line-height: 17px;
padding: 5px 30px 0px 30px;
 }

 .imgprod{
  width : 100%;
}

/*-- ACTUALITÉS */

.pintro {
  font-family: 'Aaargh', sans-serif;
  text-align: center;
  font-size:13px;
  height: 80px;
  padding-top:30px;
  color : black;
}
.imgactu {
  width :100%;
}

h4 {
  background-color: black;
  font-family: 'VAG Rounded', sans-serif;
  text-align: center;
  margin-top: -3px;
  padding-top: 30px;
}

.pactu {
  background-color: black;
  font-family: 'Aaargh', sans-serif;
  color: white;
  height: 80px;
  padding: 30px 25px 0px 25px;
  font-size:13px;
  text-align:justify;
}
.marge {
  background-color: #801010;
  height :15px;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #801010;
  color: white;
  padding: 20px;
}

.pfoot {
  font-family: 'Aaargh', sans-serif;
}

.pictos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top : 15px;
}

.picto {
  width: 35px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer p {
  text-align: center;
}

.end {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 10px;
}

@media(min-width: 900px) {
  .home {
    height: 750px;
  }
  .produits {
    margin-top: 750px;
  }
  .ligne1,
  .ligne2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}