body {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'VAG Rounded';
  src: url("../font/vagron.ttf");
}

@font-face {
  font-family: 'Aaargh';
  src: url("../font/aaargh.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("../font/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato Black';
  src: url("../font/Lato/Lato-Mediumttf");
}

@font-face {
  font-family: 'Lato SemiBold';
  src: url("../font/Lato/Lato-Semibold.ttf");
}

    /* ----------- HEADER ----------- */

    
.home {
  background: url(../images/bg-intro.png);
  background-size: cover;
  background-position: center;
  height: 480px;
  width: 100vw;
  color: white;
  top: 0;
  position: absolute;
}

.logo {
  width: 50%;
}

.burger {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 32px;
  width: 100%;
  transition: background-color .4s ease-in-out;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  background-color: rgba(128, 16, 16, 0.797);
  transform: translateX(-100%);
  transition: transform .6s ease-in-out;
}

.menu li {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 100px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.left-li:after{
  content: '';
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid;
  margin-top: -20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.left-li:hover:after{
  opacity: 1;
  color: rgb(137, 230, 61);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.smooth-home:after,
.prod:after,
.smooth-actu:after {
  content: '';
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}


.smooth-home:hover:after,
.prod:hover:after,
.smooth-actu:hover:after {
  opacity: 1;
  color: rgb(137, 230, 61);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.menu-toggle {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 50px;
  color: #FFF;
  background: #801010;
  border-radius: 10px;
}

.menu-toggle .close {
  display: none;
}

header.is-open .menu {
  transform: translateX(0);
}

header.is-open .menu-toggle {
  color: #fff;

}

header.is-open .open {
  display: none;
}

header.is-open .close {
  display: block;
}



.left-li {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 40px;
}

  /* ----------- CONTENU ----------- */

.h2 {
  text-align: center;
}
.h2_1 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.h2_2 {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 20px;
}

h3 {
  font-family: 'VAG Rounded', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  background-color: black;
  color: white;
}

h2 {
  margin: 50px;
  font-size: 20px;
}

.produits {
  margin-top: 480px;
}

figcaption,
.titre {
  font-family: 'VAG Rounded', sans-serif;
  height: 40px;
  padding-top: 28px;
  text-align: center;
  margin-top: -5px;
  font-size: 16px;
}

.titre {
  font-size: 24px;
}

.bouton {
  background-color: white;
  height: 60px;
  padding: 15px 0px 15px 0px;
}

button {
  height: 50px;
  background-color: #a11515;
  width: 45%;
  padding: 16px 8px 25px;
  border-radius: 60px;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: 'VAG Rounded';
  border: black;
  margin-left: 30%;
  transition: font-size 0.3s;
}

button:hover {
  cursor: cell;
  font-size: 18px;
  background-color: #721313;

 }

a {
  text-decoration: none;
  color: white;  

}

/* ----------- PRODUITS ----------- */

h4 {
  text-align: center;
  font-family: 'Lato Black', sans-serif;
  font-size: 14px;
  padding: 20px 0px 20px 0px;
}

.imgintro {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
}

p,
li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-align: justify;
  padding: 10px 30px 0px 30px;
  line-height: 16px;
}

.ptitre {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
  text-align: left;
}

ul {
  margin-bottom: 20px;
}

li {
  line-height: 17px;
  padding: 5px 30px 0px 30px;
}

img {
  width: 80%;
  display: block;
  margin: 5px auto 20px auto;
}

.phomepage {
  padding: 10px 40px 15px 40px;
}

    /* ----------- ACTUALITÉS ----------- */

.dim2 {
  font-family: "Lato SemiBold", sans-serif;
  text-align: center;
  color: #a11515;
}

.actu_intro {
  text-align: center;
  font-family: 'Lato Black', sans-serif;
  font-size: 14px;
  padding: 20px;
}

h5 {
  font-family: 'VAG Rounded', sans-serif;
  text-align: center;
  margin-top: -3px;
  padding-top: 30px;
}

.pactu {
  font-family: 'Aaargh', sans-serif;
  height: 80px;
  padding: 30px 25px 0px 25px;
  font-size: 13px;
  text-align: justify;
}

    /* ----------- FOOTER ----------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a11515;
  color: white;
  padding: 20px;
}

.pfoot {
  font-family: 'Lato', sans-serif;
}

.pictos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picto {
  width: 35px;
}

footer p {
  text-align: center;
}

.end {
  font-family: 'VAG Rounded', sans-serif;
  font-size: 10px;
}

    /* ----------- MEDIA QUERY ----------- */

@media (min-width: 720px) {
  
  /* ---------- MENU & HEADER ---------- */
  
  header {
    top: 0;
  }

  .menu-toggle {
    display: none;
  }

  .menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    transform: none;
    background: none;
    position: fixed;
    padding-top: 10px;
    height: 50px;
  }

  .menu li {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .menu ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .is-light .menu {
    background: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.262);

  }

  header.is-light .menu li a {
    color: #000;
  }

  .visuallyhidden {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .logo {
    display: none;
  }

  header.is-light {
    background: #fff;
    height: 55px;
  }

  header.is-light .menu-toggle {
    color: #000;
  }

  header.is-light .logo {
    background-image: url(images/playmobil-logo-dark.svg);
  }

  .home {
    height: 750px;
  }

  .logo {
    display: none;
  }

  .home2 {
    color: black
  }
  img {
    width: 20%;
  }
  h4 {
    font-size: 25px;;
  }
  .h2_1, .h2_2 {
    margin-top: 14%;
    font-size: 50px;
  }
  .h2_2 {
    margin-top: -2%;
  }

  /* ---------- PRODUITS ---------- */

  .produits {
    margin-top: 750px;
  }

  .prod1,
  .prod2,
  .prod3,
  .prod4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }

  .description {
    margin: 0px 100px;
  }

  /* ---------- ARTICLE ---------- */

  .art1,
  .art2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 20px;
  }

  .article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
  }

  .actu_intro {
    font-size: 20px;
    margin: 40px 40px 0px ;
    line-height: 25px;  
  }

  .phomepage {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    min-height: 155px;
  }

  .phomepage1 {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    min-height: 90px;
  }

  .phomepage2 {
    font-size: 16px;
    text-align: center;    
  }
  
  img {
    width: 90%;
    height: 70%;
    border-radius: 10px;
  }

  .grid {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    grid-row-gap: 50px;
  }
  .grid::nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .grid::nth-child(2) {
    grid-row: 1;
    grid-column: 2;    
  }
  .grid::nth-child(3) {
    grid-row: 1;
    grid-column: 3;
  }

  .grid1 {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 40% 40%;
    justify-content: center;
    grid-row-gap: 50px;
  }
  .grid1::nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .grid1::nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }

  .art {
    width: 60%;
  }

  button {
    margin: 0;
    width: 200px;  
  }  

  .ligne1, .ligne2 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-grow: 150px;
  }

  .ligne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 50px;  
  }
}

@media (min-width: 1200px) {
  
    /* ---------- ARTICLES ---------- */

  .phomepage,
  .phomepage1 {
    min-height: 50px;
  }
  .h2_2 {
    margin-top: -2%;
  }
  
  .grid,
  .grid1 {
    grid-template-rows: 500px;
  }
}